.sc-table {
  overflow:hidden;
  text-align:center;
}

.sc-table a {
  display:block;
  float:left;
  width:5%;
  height:2em;
  font:normal normal 13px/2em "Times New Roman",Times,Serif;
  letter-spacing:0;
  text-transform:none;
  text-shadow:none;
  background-color:white;
  color:black;
  cursor:pointer;
  text-decoration:none;
}

.sc-table a:focus,
.sc-table a:hover {
  background-color:black;
  color:white;
  text-decoration:none;
}