.special-character-map {
  overflow:hidden;
  text-align:center;
}

.special-character-map a {
  display:block;
  float:left;
  width:5%;
  height:2em;
  font:normal normal 15px/2em Helmet,FreeSans,Sans-Serif;
  letter-spacing:0;
  text-transform:none;
  text-shadow:none;
  background-color:white;
  color:#222;
  cursor:pointer;
  text-decoration:none;
}

.special-character-map a:focus,
.special-character-map a:hover,
.special-character-map a.selected {
  background-color:#333;
  color:white;
  text-decoration:none;
}

.special-character-map a.selected,
.special-character-map a.selected:focus,
.special-character-map a.selected:hover {background-color:#365D98}

.custom-modal-special-character {width:46.15384615384615em}